# Default owners for everything in the repository.
* @DownAtTheBottomOfTheMoleHole/the-main-team

# Enforce maintainer approval for workflow, script and versioning changes.
/.github/ @DownAtTheBottomOfTheMoleHole/the-main-team
/scripts/ @DownAtTheBottomOfTheMoleHole/the-main-team
/GitVersion.yml @DownAtTheBottomOfTheMoleHole/the-main-team
